* {
  margin: 0;
  padding: 0;
  /* border: .1px solid white; */
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #1f1d1d;
  color: white;
}

.naming_conversion {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

input {
  font-size: 18px;
  padding: 10px 20px;
  border: none;
  border-bottom: 2px solid #00bcd4;
  width: 60%;
  margin-bottom: 20px;
  background-color: #111111;
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 -2px 4px rgba(0, 188, 212, 0.2);
}

button {
  font-size: 18px;
  padding: 10px 20px;
  border: none;
  background-color: #00bcd4;
  color: white;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 -2px 4px rgba(0, 188, 212, 0.2);
  transition: background-color 0.2s ease-in-out;
}

button:hover {
  background-color: #0097a7;
}

.cases_div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin-top: 20px;
}

.case_div {
  width: 46%;
  margin: 10px;
  text-align: center;
  border: 3px solid #00bcd4;
}

h1 {
  font-size: 18px;
  background-color: #00bcd4;
  color: #000;
}

p {
  font-size: 16px;
  color: white;
  padding: 10px;
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  input {
    width: 80%;
  }

  .cases_div {
    width: 80%;
  }

  .case_div {
    width: 100%;
  }
}